.footer {
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 1rem 0;
  text-align: center;
  margin-top: auto; /* Empuja el footer hacia abajo */
}

.footerText {
  margin: 0;
  font-size: 12px;
  color: #666;
  font-weight: 400;
}
