.amount {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25;
  color: #333;
  margin: 0;
  margin-top: 0.5rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.taxLeyend {
  font-size: 12px;
  color: #0000008c;
  font-weight: 400;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}
